@model Pors.Application.Identity.Queries.LoginUserQuery
@{
    Layout = "_identityLayout";
    ViewData["Title"] = "ورود به حساب کاربری";
}

<div class="container mt--8 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body p-5">
                    <div asp-validation-summary="ModelOnly" class="text-center mb-4"></div>
                    <form asp-action="login" method="post">
                        <input asp-for="ReturnUrl" type="hidden" />
                        <div class="form-group mb-3">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                <input asp-for="Email" type="email" class="form-control" placeholder="ایمیل خود را وارد کنید">
                            </div>
                            <span asp-validation-for="Email"></span>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                </div>
                                <input asp-for="Password" type="password" class="form-control" placeholder="رمز عبور">
                            </div>
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary mt-3">ورود به حساب</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <a asp-action="forgetPassword" class="text-light"><small>فراموشی رمز عبور؟</small></a>
                </div>
                <div class="col-6 text-right">
                    <a href="#" class="text-light"><small></small></a>
                </div>
            </div>
        </div>
    </div>
</div>