@model GetOptionQueryResponse
@{
    Layout = "_adminLayout";
    ViewData["Title"] = "ویرایش گزینه";
}

@section scripts{
    <script src="~/lib/jquery-repeater/js/jquery.repeater.min.js"></script>
}

<form asp-action="update" enctype="multipart/form-data" method="post">
    <div class="row">
        <div class="col-xl-8 order-xl-1 mb-5 mb-xl-0">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-bg-white border-0">
                    <h3 class="mb-0">ویرایش گزینه</h3>
                </div>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-center mb-4"></div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label asp-for="Title" class="form-control-label">عنوان گزینه</label>
                                <input asp-for="Title" class="form-control form-control-alternative" placeholder="عنوان گزینه">
                                <span asp-validation-for="Title"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <button type="submit" class="btn btn-success">ویرایش گزینه</button>
                </div>
            </div>
        </div>
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
            <div class="card mb-4">
                <div class=" card-header">
                    <img id="image-preview-output" class="w-100 upload-image" src="@Model.Image">
                </div>
                <div class="card-body pt-0 pt-md-4">
                    <input asp-for="Image" type="file" accept="image/*" id="image-preview-input" class="d-none" />
                    <label for="image-preview-input" class="btn btn-primary m-0">
                        <span>انتخاب تصویر</span>
                    </label>
                    <span asp-validation-for="Image"></span>
                </div>
            </div>
        </div>
    </div>
</form>