@{
    @inject ICurrentUserService CurrentUser
    var currentPersianDate = Dater.ToIranSolar(DateTime.Now, "dddd، dd MMMM yyyy");
}

<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
    <div class="container-fluid">
        <div class="col pr-md-0">
            <p class="h4 mb-0 text-white">امروز: @currentPersianDate</p>
        </div>
        <!-- user -->
        <ul class="navbar-nav align-items-center d-none d-md-flex">
            <li class="nav-item dropdown">
                <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="media align-items-center">
                        <span class="avatar avatar-sm rounded-circle">
                            <img alt="Image placeholder" src="~/@CurrentUser.ProfilePicture">
                        </span>
                        <div class="media-body ml-2 d-none d-lg-block">
                            <span class="mb-0 text-sm  font-weight-bold">@CurrentUser.DisplayName</span>
                        </div>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                    <a asp-controller="profile" asp-action="index" class="dropdown-item">
                        <i class="ni ni-single-02"></i>
                        <span>حساب کاربری</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a asp-controller="identity" asp-action="logout" class="dropdown-item">
                        <i class="ni ni-user-run"></i>
                        <span>خروج از حساب</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
