@{
    @inject Pors.Application.Common.Interfaces.ICurrentUserService CurrentUser

}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>پرس - @ViewData["Title"]</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">

    <!-- favicon -->
    <link rel="icon" type="image/png" href="./img/brand/favicon.png">

    <!-- librarys -->
    <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.min.css" />

    <!-- fonts -->
    <link rel="stylesheet" href="./fonts/yekan/css/yekan.css">
    <link rel="stylesheet" href="./fonts/nucleo/css/nucleo.css">
    <link rel="stylesheet" href="./fonts/fontawesome/css/all.min.css">

    <!-- styles -->
    <link rel="stylesheet" href="./css/argon.css" />
    <link rel="stylesheet" href="./css/main.css" />

</head>
<body>

    <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
        <div class="container-fluid">
            <!-- toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- brand -->
            <a class="navbar-brand pt-0" asp-area="admin" asp-controller="home" asp-action="index">پنل مدیریت</a>
            <!-- user -->
            <ul class="nav align-items-center d-md-none">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="media align-items-center">
                            <span class="avatar avatar-sm rounded-circle">
                                <img alt="Image placeholder" src="~/@CurrentUser.ProfilePicture">
                            </span>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                        <a asp-controller="profile" asp-action="index" class="dropdown-item">
                            <i class="ni ni-single-02"></i>
                            <span>حساب کاربری</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a asp-controller="identity" asp-action="logout" class="dropdown-item">
                            <i class="ni ni-user-run"></i>
                            <span>خروج از حساب</span>
                        </a>
                    </div>
                </li>
            </ul>
            <!-- collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- collapse header -->
                <div class="navbar-collapse-header d-md-none">
                    <div class="row">
                        <div class="col-6 collapse-brand">منو</div>
                        <div class="col-6 collapse-close">
                            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- navigation -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="admin" asp-controller="home" asp-action="index">
                            <i class="ni ni-tv-2 text-primary"></i> داشبورد
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="admin" asp-controller="survey" asp-action="index">
                            <i class="ni ni-planet text-blue"></i> پرسشنامه
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- main content -->
    <div class="main-content">
        <!-- navbar -->
        <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
            <div class="container-fluid">
                <!-- brand -->
                <p class="h4 mb-0 text-white d-none d-lg-inline-block">خوش آمدید</p>
                <!-- form -->
                <div></div>
                <!-- user -->
                <ul class="navbar-nav align-items-center d-none d-md-flex">
                    <li class="nav-item dropdown">
                        <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="media align-items-center">
                                <span class="avatar avatar-sm rounded-circle">
                                    <img alt="Image placeholder" src="~/@CurrentUser.ProfilePicture">
                                </span>
                                <div class="media-body ml-2 d-none d-lg-block">
                                    <span class="mb-0 text-sm  font-weight-bold">@CurrentUser.DisplayName</span>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                            <a asp-controller="profile" asp-action="index" class="dropdown-item">
                                <i class="ni ni-single-02"></i>
                                <span>حساب کاربری</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a asp-controller="identity" asp-action="logout" class="dropdown-item">
                                <i class="ni ni-user-run"></i>
                                <span>خروج از حساب</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- header -->
        <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
            <div class="container-fluid">
                <div class="header-body">
                    @RenderSection(name: "header",required: false)
                </div>
            </div>
        </div>

        <!-- content -->
        <div class="container-fluid mt--7">
            @RenderBody()
        </div>
    </div>

    <!-- librarys -->
    <script src="./lib/jquery/js/jquery.min.js"></script>
    <script src="./lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./lib/survey/js/survey.jquery.min.js"></script>

    <!-- scripts -->
    <script src="./js/argon.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>