<!DOCTYPE html>
<html lang="en">
<head>
    <title>پرس - @ViewData["Title"]</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">

    <!-- favicon -->
    <link rel="icon" type="image/png" href="~/img/brand/favicon.png">

    <!-- librarys -->
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />

    <!-- fonts -->
    <link rel="stylesheet" href="~/fonts/yekan/css/yekan.css">
    <link rel="stylesheet" href="~/fonts/nucleo/css/nucleo.css">
    <link rel="stylesheet" href="~/fonts/fontawesome/css/all.min.css">

    <!-- styles -->
    <link rel="stylesheet" href="~/css/argon.css" />
    <link rel="stylesheet" href="~/css/main.css" />

</head>
<body class="bg-default">
    <div class="main-content">
        <!-- header -->
        <div class="header bg-gradient-primary py-5 py-lg-5">
            <div class="container">
                <div class="header-body mb-7">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 col-md-6 mt-5">
                            <h1 class="text-white text-center">@ViewData["Title"]</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="separator separator-bottom separator-skew zindex-100">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </div>
        <!-- content -->
        @RenderBody()
    </div>

    <!-- librarys -->
    <script src="~/lib/jquery/js/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <partial name="_ValidationScripts" />

    <!-- scripts -->
    <script src="~/js/argon.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>