<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
        <!-- toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- brand -->
        <a class="navbar-brand pt-0" asp-area="admin" asp-controller="home" asp-action="index">پنل مدیریت</a>
        <!-- user -->
        <ul class="nav align-items-center d-md-none">
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="media align-items-center">
                        <span class="avatar avatar-sm rounded-circle">
                            <img alt="Image placeholder" src="./img/avatar/avatar-1.jpg">
                        </span>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                    <a asp-controller="profile" asp-action="index" class="dropdown-item">
                        <i class="ni ni-single-02"></i>
                        <span>حساب کاربری</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a asp-controller="identity" asp-action="logout" class="dropdown-item">
                        <i class="ni ni-user-run"></i>
                        <span>خروج از حساب</span>
                    </a>
                </div>
            </li>
        </ul>
        <!-- collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
            <!-- collapse header -->
            <div class="navbar-collapse-header d-md-none">
                <div class="row">
                    <div class="col-6 collapse-brand">منو</div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- navigation -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" asp-area="admin" asp-controller="home" asp-action="index">
                        <i class="ni ni-tv-2 text-primary"></i> داشبورد
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="admin" asp-controller="survey" asp-action="index">
                        <i class="ni ni-planet text-blue"></i> پرسشنامه
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>