body {
    direction: rtl;
}

.disabled {
    pointer-events: none !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.text-green {
    color: #2dce89 !important;
}

.field-validation-error {
    display: block;
    font-size: 0.75rem;
    margin-top: 0.5rem;
    color: #f5365c !important;
}

.validation-summary-errors ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.validation-summary-errors.text-center ul li {
    text-align: center;
}

.validation-summary-errors li {
    font-size: 1rem;
    color: #f5365c !important;
}

.navbar-vertical .navbar-nav .nav-link[data-toggle=collapse]:after {
    content: '\f104';
    margin-left: 0;
    margin-right: auto;
}

.navbar-vertical .navbar-nav .nav-link[data-toggle=collapse][aria-expanded=true]:after {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
}


#sidenav-main .navbar-nav {
    padding: 0;
}

#sidenav-main ul ul li a {
    padding-right: 1.2rem;
}

.navbar-vertical .navbar-nav > .nav-item > .nav-link.active {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 0.375rem;
    background: #f6f9fc;
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link {
    padding: 0.675rem 1.5rem;
}

.navbar-vertical.navbar-expand-md .navbar-nav .nav-link.active:before,
.navbar-vertical .navbar-nav .nav-link.active:before {
    border-left: none;
}

.custom-checkbox .custom-control-input ~ .custom-control-label {
    top: 0rem;
    padding-right: 2rem;
}

.custom-control-label:after, .custom-control-label:before {
    right: 0;
}

.navbar.navbar-vertical ul.nav {
    margin-right: 40px;
}
/* ########## customize datatable ############ */
table {
    text-align: center;
}

.dataTables_wrapper {
    font-size: inherit;
}

.dataTables_filter {
    display: flex;
    justify-content: end;
}

.dataTables_length .form-control {
    margin: 0 0.375rem;
}

.dataTables_wrapper div.dataTables_filter input {
    width: auto;
    margin-right: 0.5em;
    display: inline-block;
}

.form-control-sm {
    line-height: 1.5;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    height: calc(0.45em + 1.25rem + 5px);
}

.role-permission-wrapper p {
}

    .role-permission-wrapper p:after {
    }

/* ########## customize ############ */
.upload-image {
    height: 292.5px;
    max-height: 292.5px;
}

.custom-control {
    padding-right: 0 !important;
}

.btn-icon-only::after {
    content: none !important;
}

.dropdown-menu {
    min-width: 10rem;
}

.ck.ck-reset_all, .ck.ck-reset_all *{
    font-family: 'yekan' !important;
}