body {
    direction: rtl;
}

.field-validation-error {
    display: block;
    font-size: 0.75rem;
    margin-top: 0.5rem;
    color: #f5365c !important;
}

.validation-summary-errors ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.validation-summary-errors.text-center ul li{
    text-align:center;
}

.validation-summary-errors li {
    font-size: 1rem;
    color: #f5365c !important;
}