.navbar-brand {
    font-weight: 800;
}

.disabled {
    pointer-events: none !important;
}

.custom-nav-link.disabled {
    color: #6c757d !important;
}

.answer-error {
    color: #FF5B5C;
    font-size: 13px;
}

.wizard .steps ul li a i {
    font-weight: 400;
    font-style: normal;
}

.wizard .steps ul li a .step {
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wizard .steps ul li.disabled a .step {
    border: 1px solid;
}

.wizard .steps ul li:last-child:after {
    content: '';
}

.wizard .actions ul {
    float: none;
    display: flex !important;
    justify-content: center;
}

.custom-radio .custom-control-input ~ .custom-control-label {
    font-size: .875rem;
    height: 1rem;
    cursor: pointer;
}

.single-blog-card .card-text {
    font-size: 0.9rem;
    text-align: justify;
}

.exam-comment-form label {
    font-size: 88%;
    padding-bottom: .25rem;
}

.btn-sm, .btn-group-sm > .btn {
    font-size: 0.875rem !important;
    padding: 0.25rem 0.5rem !important;
}

[data-action="loading"] {
    display: flex;
    align-items: center;
    justify-content: center;
}

    [data-action="loading"] .spinner-wrapper {
        display: flex;
        align-items: center;
        margin-left: 0.4rem;
    }

        [data-action="loading"] .spinner-wrapper i {
        }
