@model int
@{
    ViewData["Title"] = "لیست سوالات";
}

@section styles{
    <link rel="stylesheet" href="~/lib/sweetalert2/css/sweetalert2.min.css" />
    <link rel="stylesheet" href="~/lib/datatable/css/dataTables.bootstrap4.min.css" />
}

@section scripts{
    <script src="~/lib/sweetalert2/js/sweetalert2.all.min.js"></script>
    <script src="~/lib/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatable/js/dataTables.language.fa.js"></script>
    <script src="~/lib/datatable/js/dataTables.bootstrap4.min.js"></script>
}

<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header bg-transparent d-flex justify-content-between">
                <h3 class="mb-0">@ViewData["Title"]</h3>
                <a asp-action="create" asp-route-id="@Model" class="btn btn-sm btn-primary">ایجاد سوال</a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <input type="hidden" id="exam-id" value="@Model" />
                    <table class="table align-items-center table-flush w-100" id="questions-datatable">
                        <thead class="thead-light">
                            <tr>
                                <th>شناسه</th>
                                <th>شناسه آزمون</th>
                                <th>عنوان</th>
                                <th>تاریخ ایجاد</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>