@model GetRoleQueryResponse
@{
    Layout = "_adminLayout";
    ViewData["Title"] = "ویرایش نقش";
}

<form asp-action="update" method="post">
    <div class="row">
        <div class="col">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-bg-white border-0">
                    <h3 class="mb-0">ویرایش نقش</h3>
                </div>
                <div class="card-body">
                    <input asp-for="Id" type="hidden">
                    <div asp-validation-summary="ModelOnly" class="text-center mb-4"></div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label asp-for="Title" class="form-control-label">عنوان نقش</label>
                                <input asp-for="Title" class="form-control form-control-alternative" placeholder="عنوان نقش">
                                <span asp-validation-for="Title"></span>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label asp-for="Description" class="form-control-label">توضیحات</label>
                                <textarea rows="5" asp-for="Description" class="form-control form-control-alternative" placeholder="توضیحات"></textarea>
                                <span asp-validation-for="Description"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <a asp-action="index" class="btn btn-warning mr-2">بازگشت</a>
                    <button type="submit" class="btn btn-success">@ViewData["Title"]</button>
                </div>
            </div>
        </div>
    </div>
</form>
