@{
    ViewData["Title"] = "لیست پاسخ‌ها";

    var questionId = ViewContext.HttpContext.Request.Query["questionId"].ToString();
    var participantId = ViewContext.HttpContext.Request.Query["participantId"].ToString();
}

@section styles{
    <link rel="stylesheet" href="~/lib/datatable/css/dataTables.bootstrap4.min.css" />
}

@section scripts{
    <script src="~/lib/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatable/js/dataTables.language.fa.js"></script>
    <script src="~/lib/datatable/js/dataTables.bootstrap4.min.js"></script>
}

<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header bg-transparent d-flex justify-content-between align-items-center">
                <h3 class="mb-0">@ViewData["Title"]</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <input type="hidden" id="question-id" value="@questionId" />
                    <input type="hidden" id="participant-id" value="@participantId" />
                    <table class="table align-items-center table-flush w-100" id="answers-datatable">
                        <thead class="thead-light">
                            <tr>
                                <th>شناسه</th>
                                <th>شناسه‌ی درخواست</th>
                                <th>شناسه‌ی سوال</th>
                                <th>وضعیت درستی</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>