@{
    var currentPersianYear = Dater.ToIranSolar(DateTime.Now, "yyyy");
}

<footer class="footer-section">
    <!-- footer top -->
    @*<div class="footer-top gradient-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row footer-top-wrap">
                            <div class="col-md-3 col-sm-6">
                                <div class="footer-nav-wrap text-white">
                                    <h4 class="text-white">لینک‌های پرکاربرد</h4>
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" asp-action="index">صفحه‌ی اصلی</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link disabled" asp-controller="" asp-action="">درباره ما</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link disabled" asp-controller="" asp-action="">تماس با ما</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    <!-- copyright-->
    <div class="gray-light-bg py-3">
        <div class="container">
            <div class="copyright-text d-flex flex-wrap justify-content-center justify-content-sm-between">
                    <p class="pb-0 mb-0">
                        حق چاپ @currentPersianYear - کلیه‌ی حقوق برای پُرس محفوظ است
                    </p>
                    <p class="">
                        ساخته شده با
                        <i class="fas fa-heart text-danger ml-50"></i>
                        توسط
                        <a href="https://nabawi.info" class="font-weight-bold ml-1" target="_blank">مجتبی نبوی</a>
                    </p>
            </div>
        </div>
    </div>
</footer>
