@{
    var currentPersianDate = Dater.ToIranSolar(DateTime.Now, "dddd، dd MMMM yyyy");
    var participantId = ViewContext.HttpContext.Request.Cookies[ParticipantCookieKeys.ParticipantId] ??
                        ViewContext.HttpContext.Response.Headers.GetCookieValue(ParticipantCookieKeys.ParticipantId);
}

<header id="header" class="header-main headroom">
    <div id="header-top-bar" class="header-top-bar gray-light-bg">
        <div class="container">
            <ul class="top-bar-nav py-2">
                <li class="d-none d-sm-flex">
                    <span>امروز: @currentPersianDate</span>
                </li>
                <li>
                    <span>شناسه‌ی شما:&nbsp;</span>
                    <span class="cursor-pointer text-primary">@participantId</span>
                </li>
            </ul>
        </div>
    </div>
    <div id="logoAndNav" class="main-header-menu-wrap white-bg border-bottom">
        <div class="container">
            <nav class="mega-menu navbar navbar-expand-md header-nav">
                <a class="navbar-brand" asp-controller="home" asp-action="index">
                    <span>پُرس</span>
                </a>
                <div class="d-flex">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a class="nav-link custom-nav-link cursor-pointer d-flex align-items-center d-md-none" data-toggle="modal" data-target="#login-modal">
                            <span class="ti-user ml-2"></span>
                            <span>ورود به حساب</span>
                        </a>
                    }
                    else
                    {
                        <ul class="main-navbar-nav mr-auto p-0 d-md-none">
                            <li class="nav-item custom-nav-item">
                                <a asp-controller="identity" asp-action="logout" class="nav-link custom-nav-link py-3 align-items-center d-flex align-items-center pl-0">
                                    <span class="ti-lock ml-2 text-danger"></span>
                                    <span>خروج از حساب</span>
                                </a>
                            </li>
                        </ul>
                    }
                    <button type="button" class="navbar-toggler btn pl-0" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                        <span id="hamburgerTrigger">
                            <span class="ti-menu"></span>
                        </span>
                    </button>
                </div>

                <div id="navBar" class="collapse navbar-collapse">
                    <ul class="navbar-nav main-navbar-nav">
                        <li class="nav-item custom-nav-item">
                            <a asp-controller="home" asp-action="index" class="nav-link custom-nav-link">صفحه‌ی اصلی</a>
                        </li>
                        <li class="nav-item custom-nav-item">
                            <a asp-controller="exams" asp-action="index" class="nav-link custom-nav-link">‌آزمون‌ها</a>
                        </li>
                        <li class="nav-item custom-nav-item">
                            <a asp-controller="faq" asp-action="index" class="nav-link custom-nav-link">‌سوالات متداول</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav main-navbar-nav mr-auto d-none d-lg-flex">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li id="login-btn" class="nav-item custom-nav-item">
                                <a class="nav-link custom-nav-link align-items-center d-flex align-items-center pl-0 cursor-pointer" data-toggle="modal" data-target="#login-modal">
                                    <span class="ti-user ml-2"></span>
                                    <span>ورود به حساب</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item custom-nav-item">
                                <a asp-controller="identity" asp-action="logout" class="nav-link custom-nav-link py-3 align-items-center d-flex align-items-center pl-0">
                                    <span class="ti-lock ml-2 text-danger"></span>
                                    <span>خروج از حساب</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
