@{ ViewData["Title"] = "‌خطای 500"; }

<section class="section-bg ptb-100 height-lg-100vh d-flex align-items-center">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-9 col-lg-7">
                <div class="error-content text-center text-white">
                    <div class="error"><h1 class="text-white">500</h1></div>
                    <h3 class="text-white">با عرض پوزش، مشکلی پیش آمد</h3>
                    <p>
                        متاسفانه خطایی در هنگام اجرای درخواست شما اتفاق افتاد
                    </p>
                    <a asp-action="index" class="btn outline-white-btn">صفحه اصلی</a>
                </div>
            </div>
        </div>
    </div>
</section>